/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/package.json export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpunit.xml.dist export-ignore
/postcss.config.js export-ignore
/psalm.xml export-ignore
/tests export-ignore
/tsconfig.json export-ignore
/webpack.config.js export-ignore
