//this file is only needed to compile the theme.css initially - not used afterwards ^^

@import '../../../../../../../../../../htmldev/sass/helpers/css3';
@import '../../../../../../../../../../htmldev/sass/helpers/mixins';

body.zicht-cms {

    &.skin-black {
        .sidebar-form {
            input {
                color: #aeaeae;

                &:focus {
                    color: #d4d4d4;
                }
            }
        }
    }

    font: {
        size: 15px;
    }

    .box .box-body .table {
        margin-bottom: 20px;
    }

    .box-header {
        h4 {
            &.box-title {
                font: {
                    weight: bold;
                }
            }
        }
    }

    .box {
        @include box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0));
        border: none;
        padding: 30px;
        margin-bottom: 50px;

        &.box-success {
            padding-top: 10px;
            padding-bottom: 0px;
        }

        &.box-primary {
            .table {
                margin-bottom: 0px;
            }
        }
    }

    .select2-container {
        a {
            background: none;
        }
    }


    .header {
        nav {
            &.navbar {
                margin-left: 0px;
                border-bottom: none;
            }
        }
    }

    .customer_logo {
        width: 200px;
        height: 50px;
        float: right;
        background: crimson;
        color: #ffffff;
        text-align: center;
        line-height: 46px;
    }

    .sidebar {
        position: relative;
    }

    .logo {
        overflow: hidden;
        position: absolute;
        height: 190px;
        bottom: 0;
        left: 0;
        width: 220px;
        text-align: center;
        padding: 30px 0;

        span {
            color: #8C8C8C;
        }

        img {
            width: 40px;
            height: auto;
            display: block;
            margin: 10px auto 0;
        }
    }

    aside {
        &.right-side {
            .content-header {
                padding: 50px 50px 0px 50px;
                margin-bottom: 30px;
            }
        }
    }

    .navbar-brand {
        font: {
            weight: bold;
            size: 20px;
        }
    }

    .content {
        padding: 0 50px 50px 50px;
    }

    .form-control {
        height: 44px;
        margin-bottom: 10px;
        padding: 10px 12px;
    }

    .custom-search-form {
        .form-control {
            height: 41px;
            margin-bottom: 0px;
        }

        .btn {
            height: auto;
        }
    }

    .sonata-bc {
        table {
            &.table>thead>tr>th, &.table>tbody>tr>th, &.table>tfoot>tr>th, &.table>thead>tr>td, &.table>tbody>tr>td, &.table>tfoot>tr>td {
                vertical-align: middle;
                padding: 12px 20px;
            }
        }
    }

    label {
        display: block;
        float: left;
        margin-bottom: 5px;
        padding-right: 7px;
        width: 140px;
        text-align: right;
    }

    .control-label {
        padding-top: 8px;
    }

    .icheckbox_minimal {
        margin-top: 7px;
    }

    .form-group {
        margin-bottom: 15px;
        overflow: hidden;
        width: auto;

        > div {
            padding-left: 170px;
        }
    }

    .well {
        @include box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0));
        background: none;
        padding: 0;
        border: 0;
    }

    .btn, button {
        @include border-radius(4px);
        margin-right: 10px;
        padding: 10px 20px;

    }

    h4 {
        font: {
            weight: bold;
        }
    }

    .sonata-medium-date select {
        margin-right: 10px;
    }

    select {
        padding: 8px;
    }

    textarea {
        min-height: 150px;
    }

    table {
        tfoot {
            .icheckbox_minimal {
                margin-top: 0px;
                margin-right: 5px;
            }

            label {

                margin-right: 10px;

                &.checkbox {
                    margin-top: 10px;
                }
            }

            .form-control {
                margin-bottom: 0;
            }
        }
    }

    .fa {
        line-height: 1.5;
    }


}