<a href="{{ admin.generateObjectUrl('moveUp', object) }}"><img src="{{ asset('bundles/sonataadmin/famfamfam/arrow_up.png') }}" alt="Up"></a>
<a href="{{ admin.generateObjectUrl('moveDown', object) }}"><img src="{{ asset('bundles/sonataadmin/famfamfam/arrow_down.png') }}" alt="Down"></a>
